:root {
    --dark-color: #2C3E50;
    --green-color: #1ABC9C;
    --green-btn: #6AD3BF;
    --green-link: #1EA78A;
    --super-dark-color: #1A252F;
    --white-color: #FFFFFF;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Repeated classes*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-bg {
    background-color: var(--white-color);
}

.dark-bg {
    background-color: var(--dark-color);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    color: var(--white-color);
    width: 100vw;
    z-index: 1;
}

nav h1 {
    font-size: 22px;
}

nav .flex-list {
    display: flex;
    list-style: none;
}

nav .flex-list li a {
    color: var(--white-color);
    text-decoration: none;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
}

nav .flex-list li a:hover {
    color: var(--green-link);

}

.main-btn {
    display: none;
    padding: 10px;
    background-color: var(--green-color);
    border-radius: 10px;
    color: var(--white-color);
    border: 2px solid var(--green-link);
}

.main-btn:hover {
    background-color: var(--dark-color);
    border: 2px solid var(--green-btn);
    color: var(--green-btn);
}

.menu-icon {
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* hero */
.hero {
    height: 100vh;
    flex-direction: column;
    background-color: var(--green-color);
}

.bg-girl-img {
    position: relative;
    padding: 80px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.bg-girl-img:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.hero img {
    position: absolute;
    top: -17px;
    left: -8px;
    width: 175px;
    border-radius: 50%;
}

.hero h2 {
    font-size: 50px;
    color: var(--white-color);
    padding-bottom: 17px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(90deg, #6AD3BF, white, #6AD3BF, #f9fafb);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: moveGradient 5s infinite linear;

}

@keyframes moveGradient {
    0% {
        background-position: 200% 0;

    }

    100% {
        background-position: -200% 0;

    }
}

/* after for all sections */
.after {
    padding-bottom: 17px;
}

.after .line {
    width: 100px;
    height: 3.5px;
    border-radius: 5px;
    margin: 10px;
}

.after i {
    font-size: 30px;
    animation: star 0.9s infinite reverse;

}

.hero .after i,
.about .after i {
    color: var(--white-color);
}

.portfolio .after i,
.contact-me .after i {
    color: var(--dark-color);
}

@keyframes star {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.hero p {
    font-size: 16px;
    color: var(--white-color);
    text-align: center;
}

/* portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio h3,
.contact-me h3 {
    color: var(--dark-color);
}

h3 {
    font-size: 35px;
    text-align: center;
    padding: 17px;
}

.portfolio .front-end-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.portfolio .front-end-skills .img-container {
    padding: 37px 100px;
    border-radius: 7px;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.img-container:hover,
.img-container:hover .img-bg {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.portfolio .front-end-skills .html-bg {
    background-color: #BA4C63;
}

.portfolio .front-end-skills .css-bg {
    background-color: #1FA4B6;
}

.portfolio .front-end-skills .js-bg {
    background-color: #130F0F;
}

.portfolio .front-end-skills .bootstrap-bg {
    background-color: #1D83C1;
}

.portfolio .front-end-skills .git-bg {
    background-color: #1037B5;
}

.portfolio .front-end-skills .github-bg {
    background-color: #CCB2A3;
}

.front-end-skills .img-container .html {
    background-color: #F1652A;
}

.front-end-skills .img-container .css {
    background-color: #359CD6;
}

.front-end-skills .img-container .js {
    background-color: #F3E11D;
}

.front-end-skills .img-container .bootstrap {
    background-color: #9479bfeb;
}

.front-end-skills .img-container .git {
    background-color: #ecc3bc;
}

.front-end-skills .img-container .github {
    background-color: #F1EEE9;
}

.portfolio .front-end-skills .img-bg {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}


.portfolio .front-end-skills img {
    width: 150px;
}

/* About */
.about {
    flex-direction: column;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 50px 5px;
}

.about .about-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}

.about .about-text p {
    width: 400px;
    margin: 15px 10px;
    line-height: 1.5;
}

.about button {
    width: 250px;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    background-color: var(--green-color);
    border: 1px solid var(--white-color);
    border-radius: 7.5px;
    color: var(--white-color);
}

.about button:hover {
    background-color: var(--white-color);
    color: var(--green-color);
}

/* contact me */
.contact-me {
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

form input,
form textarea {
    width: 450px;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #DEE2E6;
    font-size: 14px;
}

form input:focus,
form textarea:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

textarea {
    scrollbar-width: none;
    line-height: 3;
}

::placeholder {
    font-size: 14px;
}

form .btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

form button {
    background-color: var(--green-btn);
    color: var(--white-color);
    padding: 15px 20px;
    margin: 15px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

form button:hover {
    background-color: var(--white-color);
    border: 2px solid var(--green-btn);
    color: var(--green-btn);
}

/* footer */
footer .footer-info {
    align-items: flex-start;
    padding: 50px;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--white-color);
}

footer .footer-info .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 17px;
    width: 350px;
    text-align: center;
    margin-bottom: 15px;
}


footer .footer-info .location p {
    width: 215px;
}

footer .footer-info .info h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

footer .footer-info .info p {
    font-size: 18px;
    font-weight: 500;
}

footer .footer-info .info .bootstrap {
    color: var(--green-link);
}


footer .footer-info .info .social-icons .icon {

    border: 2px solid var(--white-color);
    border-radius: 50%;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

footer .footer-info .info .social-icons .icon:hover {
    background-color: var(--white-color);
}

footer .footer-info .info .social-icons .icon:hover a {
    color: var(--dark-color);
}

footer .footer-info .info .social-icons a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
}

footer .copyright {
    text-align: center;
    padding: 25px;
    background-color: var(--super-dark-color);
    color: var(--white-color);
    font-size: 14px;
}

/* media query */

@media (max-width: 600px) {

    .hero h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    .portfolio .front-end-skills .img-container {
        padding: 15px 50px;
    }

    .about .about-text p {
        text-align: center;
    }

    .about .about-text {
        width: 340px;
    }

    form input,
    form textarea {
        width: 300px;

    }

}

@media (max-width: 785px) {

    nav h1 {
        font-size: 20px;
    }

    .portfolio .front-end-skills .img-container {
        padding: 12px 25px;
    }

    .portfolio .front-end-skills .img-container {
        padding: 25px 50px;
    }

    .portfolio .front-end-skills img {
        width: 100px;
    }

}

@media (max-width: 785px) {
    nav {
        padding: 25px;
    }

    nav .main-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav .flex-list {
        display: none;
    }

    nav .main-btn {
        font-size: 12px;
    }

    #menu-toggle:checked~.flex-list {
        display: block;
        position: absolute;
        top: 75px;
        right: 0;
        padding: 15px;
        width: 100%;
    }

    #menu-toggle:checked~.flex-list li {
        margin-bottom: 10px;
        text-align: center;
    }

    #menu-toggle:checked~.flex-list li:hover {
        background-color: var(--green-btn);
    }

}